Package: aaron.shadowrocket
Name: Shadowrocket【砸壳直装版本】
Author: Aaron
Version: 2.1.48
Depends: firmware (>= 11.0)
Architecture: iphoneos-arm
Description: Shadowrocket
Maintainer: Aaron <851302227@qq.com>
Section: Aaron-应用(Applications)
Icon: https://aaronc.cn/img/shadowrocked.png
Sileodepiction: https://aaronc.cn/sileo.json


