Package: Aaron.wechatctx
Version: 1.0-1
Section: WeChat
Maintainer: Nets
Depends: mobilesubstrate
Architecture: iphoneos-arm
Installed-Size: 580
Name: WeChat 长头像
Author: Netskao
Description: 微信允许长图片头像上传，也别太长或图片太大吧，可能会上传失败
