Name: CheatEngineIO
Package: aaron.Aqua.CheatEngineIO
Priority: optional
Depends: firmware (>= 8.0)
Version: 12.0.4
Architecture: iphoneos-arm
Description: 此为修改版 iGG，而且还是破解版，破解版有被开发者拉黑设备的可能，使用有风险，自行斟酌。请使用去弹窗插件配合使用。
Homepage: https://igg-server.herokuapp.com/
Depiction: https://igg-server.herokuapp.com/
Sponsor: Aqua Wu <igameguardian@gmail.com>
Maintainer: Aqua Wu <igameguardian@gmail.com>
Author: Aqua Wu <igameguardian@gmail.com>
Section: Utilities
Tag: purpose::uikit, compatible::ios8, compatible::ios9, compatible::ios10, compatible::ios11 compatible::ios12
Installed-Size: 1372
dev: aqua
